Hello <%=@name%>!!
<a href="/?name=yakuza">Display yakuza</a><br/>
<form action="/" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
  <label for="name">name:</label>
  <input type="text" name="name"/>
  <input type="submit">
</form>
